@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
  font-size: 18px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  color: hsl(0, 11%, 12%);
}

.main {
  background-color: hsl(185, 75%, 39%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.bg-circles {
  display: inline-block;
  overflow: hidden;
  height: auto;
}

.bg-circles .img {
  width: 900px;
  z-index: -1;
}

.bg-circles .c1,
.bg-circles .c2 {
  position: absolute;
}

.bg-circles .c1 {
  top: -400px;
  left: -130px;
}

.bg-circles .c2 {
  bottom: -550px;
  right: -130px;
}

.container {
  width: 350px;
  border-radius: 20px;
  background-color: #fff;
  overflow: hidden;
  z-index: 1;
  position: relative;
}

.container-head {
  background-image: url("/images/bg-pattern-card.svg");
  height: 150px;
  background-size: cover;
}

.p-picture {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  border: 5px solid white;
  overflow: hidden;
  margin: -50px auto 30px auto;
}

.p-picture img {
  width: 100%;
  height: auto;
  display: block;
}

.container-body {
  padding: 0 0 20px 0;
}

.name-age {
  padding: 0 0 8px 0;
}

.age {
  padding-left: 2px;
  font-size: 22px;
  color: hsl(0, 0%, 59%);
}

.place {
  color: hsl(0, 0%, 59%);
}

.container-footer {
  border-top: 1px solid hsl(224, 38%, 88%);
  padding-top: 30px;
  display: flex;
}

.container-footer .item {
  flex: 1;
  height: 70px;
}

.footer-number {
  margin-bottom: 5px;
}

.footer-attri {
  font-size: 14px;
  font-weight: 400;
  color: hsl(0, 0%, 59%);
  letter-spacing: 1px;
}

.attribution {
  position: absolute;
  bottom: 20px;
  left: 500px;
}

@media only screen and (max-width: 600px) {
  .bg-circles .c1,
  .bg-circles .c2 {
    position: absolute;
  }

  .bg-circles .c1 {
    top: -600px;
    left: -700px;
  }

  .bg-circles .c2 {
    bottom: -600px;
    right: -700px;
  }
}
